@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 200;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #4d2600;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

/* navigation styles */

#menu {
    float: right;
    display: inline;
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #4d2600; 
}

.active {
    border-bottom: 1px solid #4d2600;
}

#hero-image {
    clear:both;
}

.love-bake {
    display: inline-block;
    height: 375px;
    width: 33%;
}

#love-bake-1 {
    background: url('../images/bake12.jpg') no-repeat center center;
}

#love-bake-2 {
    background: url('../images/bake10.jpg') no-repeat center center;
}

#love-bake-3 {
    background: url('../images/bake11.jpg') no-repeat center center;
}

.section-header {
    text-align: center;
    font-size: 200%;
    margin: 30px 0;
}

#left-services {
    padding-top: 15px;
    width: 33%;
    float: left;
}

#right-services {
    padding-top: 15px;
    width: 33%;
    float: right;
}

#center-services {
    padding-top: 15px;
    width: 33%;
    margin: 0 auto;
}

.left-services-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear:both;
    margin-bottom: 30px;
}

.right-services-heading {
    width: 60%;
    float: left;
    line-height: 30px;
    clear:both;
    margin-bottom: 30px;
}

.right-services-heading h2 {
    text-align: right;
}

.right-services-heading p {
    text-align: right;
}

hr {
    border-top: 2px solid #4d2600 ;
    width: 100%;
    margin: 5px 0;
}

#center-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #4d2600;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-image {
    background: url(../images/bake2.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.picture-row {
    clear: both;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}